<ion-header>
  <ion-toolbar>
    <ion-title>Fourth Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <add-item></add-item>
  <ion-list>
    <item-entry *ngFor="let item of items" [item]="item"></item-entry>
  </ion-list>
</ion-content>
