<ion-header>
  <ion-navbar>
    <ion-title>{{selectedItem.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p text-center *ngIf="selectedItem">
    {{selectedItem.description}}
  </p>
</ion-content>
