<form novalidate (ngSubmit)="addItem(f)" #f="ngForm">
  <ion-list>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" name="title" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea name="description" ngModel required rows="5"></ion-textarea>
    </ion-item>
  </ion-list>
  <button ion-button type="submit" [disabled]="!f.valid" block>Add Item</button>
</form>
